/* Categiry. About. Order */
/* Фоновое изображение неподвижно fixed/scroll. Фон. Высота. font-family: "Raleway", Helvetica, Arial, sans-serif; */
body{
    background-attachment: fixed;
    background-color: rgb(219, 218, 249); 
    height: 100%;
    font-family: "Times New Roman", Georgia, Serif; 
}

.massage{
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 123, 0);
}

/*  Квадраты. В линию сеткой. Ширина высота блока. Отступ от каждого блока.Фот в блоке.Цвет шрифта.Закруглен. Тень. Отступы внутри. */
.products{
    display: inline-table;
    width: 400px;
    height: 400px;
    margin-top: 60px;
    margin-left: 45px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(70, 56, 56, 0.5);
    padding: 10px;
}

/* Картинки. Три строки выравнивают поцентру. Сверху отступ 10. Высота картинки. Тень: право низ размытие цвет.. */ 
.img{
    display: block;
    margin: auto auto;
    padding-top: 10px;
    height: 350px;
    box-shadow: 15px 10px 8px  rgb(53, 52, 65); 
}

/* Текст в блоке */ 
.info{
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    font:bold;
}

