/* К каждомуэлементу.Внешний и внутренний отступы нулевые. При border-box значения width/height задают высоту/ширину всего элемента. Цвет шрифта. Шрифт,замена, семейство. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Georgia, Serif;
}

body{
  max-width: 2560px;
  overflow: hidden;           /* +-. экран не листается */
  margin-top: 70px;
  background-color: rgb(234, 234, 253); 
}

.container_fon{
  width: 100%;
}

/* Абсолютное позиционирование-вырван из потока. Ширина на весь экран. Слой под основным.  */
.fon{
  width: 100%;
  position: absolute;
  z-index: -1;
}

/* Весь блок прямоуголькик с текстом и формой, с отступом от верха экрана в 10%  */
main{
  padding-top: 10%;
}

/* Прямоугольник с содержимым.Внешний отступ всего прямоегольника низ верх 0, лево право авто-поцентру.Граница толщиной3,сплошная,голубая.Прозрачность.Слой наверх. Прямоуголтник закругленный. */
.container_main{
  margin: 10px auto;
  border: 3px solid rgb(78, 78, 78);
  backdrop-filter: blur(10px);
  z-index: 1;
  max-width: 750px;
  height: 460px;
  border-radius: 50px;
}


/* Поля ввода. Размер шрифта. Выравнивание. Прозрачный бекграунд фон наследуем. Граница толщина2,спложная голубая.Закругленная. Растояние сверху блока 5или% */
input{
  font-size: 30px;
  text-align: center;
  background-color: inherit;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
}

/* Цвет шрифта плейсхолдера подсказки с полях ввода */
::placeholder {
  color: rgb(147, 147, 147);              
}


/* Все, кроме верхнего слова. Оступ сверху блока. Каждый элемент занимает место в контейнере. Блоки стоят по центру главной (горизонтальной) оси. */
.container_o{
  padding-block: 20px;
  display: flex;
  justify-content: center;
}


/* КНОПКА. Обводка толщиной3,сплошная,синяя. Заливка. Отступ слева. Толщина шрифта. Текст в центре. Закругление. Внутрений отстут от шрифта. Указывающая рука. Без подчеркивания */
.btn{
  border: 2px solid rgb(11, 11, 87);      
  background-color: rgba(154, 164, 182, 0.718);
  margin-left: 50px;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  padding: 7px;
  cursor: pointer; 
  text-decoration: none;
}

/*  Cсылrи цвет. Без подчеркивания */
a {
  color: rgb(35, 35, 35);
  text-decoration: none;
}

/* ссылки при наведении синеют */
a:hover {
  color: #015167;
}

/* ссылки при нажатии берюзовые */
a:active {
  color: #0e848c;
}

  
  
