/*   HTML один product */

body {
margin-top: 70px;
}

.vitrina{
    max-width: 100%;
    margin: 20px auto;
    height: 500px;
}


.wrapper{
    display: flex;
    justify-content: center;
    padding: 50px;
}


.name {
    font-size: 25px;
    padding-block: 20px;
}


.info_d {
    font-size: 30px;
    padding-block: 20px;
}


.filter_img{
    width: 300px;
}


.foto_pr{
    float: left; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    text-align: center;
}

/* КНОПКА. Обводка толщина,сплошная,цвет. Заливка. Отступ слева. Толщина шрифта. Текст в центре. Закругление. Внутрений отстут от шрифта. Курсор-рука! */
.btn{
    border: 2px solid rgb(11, 11, 87);      
    background-color: rgba(113, 148, 218, 0.718);
    margin: 10px 10px 10px 100px;
    border-radius: 25px;
    font-size: 25px;
    text-align: center;
    color: darkblue;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;

  }

/* КНОПКA КУПИТЬ. Классы, псевдоклассы- аптивная, после нашатия  */
.btn_buy {
	background-color:#73a442;
	padding:7px;
    margin-left: 170px;
	position:relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 12 px;
	text-decoration:none;
	color:#084417;
	background-image: linear-gradient(bottom, rgb(76, 124, 28) 0%, rgb(129,212,51) 100%);
	box-shadow: inset 0px 1px 0px #b2f17f, 0px 6px 0px #3d6f0d;
	border-radius: 5px;
    cursor: pointer;
}

/*  Cсылrи цвет. Без подчеркивания */
a {
    color: rgb(35, 35, 35);
    text-decoration: none;
  }
  
  /* ссылки при наведении синеют */
  a:hover {
    color: #015167;
  }
  
  /* ссылки при нажатии берюзовые */
  a:active {
    color: #0e848c;
  }

