/* Светлосерый в бежевый #f5f2f1; */
body {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* Имя сайта шрифт ширина размер  */
.storename {
  font-family: 'Pacifico', cursive;
  font-weight: 20px;
  font-size: 1.5rem;
}

/* Тень вниз. */
.header_container {
  background-color: #eeeeee;
  width: 100%;
  font-size: 25px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 12px 12px 20px 1px #3c4653b3;
}

/* Обертка строки (двух списков -слева и справа) */
.header_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 10px;
}

/* верхняя строка навигации. Контейнер. По сторонам. */
.navigation {
  display: flex;
  justify-content: space-between;
}


/* Список первый  второй. Поцентру */
.item_nav {
  display: flex;
  align-items: center;
}

/* Каждый элемент нава. Поцентру */
.item {
  position: relative;
  padding: 10px 15px;
}


/*  Цвет ссылок. Без подчеркивания */
a {
  color: rgb(50, 50, 50);
  text-decoration: none;
}

/* ссылки при наведении синеют */
a:hover {
  color: #025870;
}

/* ссылки при нажатии берюзовые */
a:active {
  color: #00adb8;
}

/* Хедер строка поиск. Корзина-кнопка подвердить. Отступ внешний.Внутренный к контенту. Шрифт размер, пошентру, цвет. Прозрачный бекграунд фон наследуем. Рамка толщина,спложная, цвет. Закругленная. Курсор-рука! */
.search {
  margin: 30px 5px;
  padding: 3px;
  font-size: 20px;
  text-align: center;
  color: rgb(50, 50, 50);;
  background-color: inherit;
  border: 2px solid rgb(50, 50, 50);;
  border-radius: 10px;
  cursor: pointer;
}

/* Кнопка поиск. Отступ внешний.Внутренный к контенту. Шрифт размер, пошентру, цвет. Рамка толщина,спложная, цвет. Закругленная. Заливка. Курсор-рука! */
.btn_search{
  margin: 20px 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: #185c18;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: rgba(189, 188, 188, 0.989);
  cursor: pointer;
}

