/* К каждомуэлементу.Внешний и внутренний отступы нулевые. При border-box значения width/height задают высоту/ширину всего элемента. Цвет шрифта. Шрифт,замена, семейство. */
*{
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Georgia, Serif;

}

/* Все элементы сеткой в строку. Отступ всего тела сверху.  */
body{
  max-width: 2560px;
  background-color: rgb(246, 246, 254); 
}

/* Все кроме хедера и футера */
.container_b{
  margin-top: 110px;
  margin-left: 90px;
}

/* Таблица. И каждый столбик. */
table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 3px dashed rgb(11, 6, 107);
}

/* Столбцы */
thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

th,
td {
  padding: 20px;
  text-align: center;
}


/* Картинки. Обтекание к слева. Сверху отступ 10. Высота картинки. Тень: право низ размытие цвет.. */ 
.img_bsc {
  display: block;
  margin: auto; 
  height: 90px;
}


/* КНОПКА. Обводка толщина,сплошная,цвет. Заливка. Отступ слева. Толщина шрифта. Текст в центре. Закругление. Внутрений отстут от шрифта. Курсор-рука! */
.btn{
  border: 2px solid rgb(11, 11, 87);      
  background-color: rgba(113, 148, 218, 0.718);
  margin-left: 100px;
  border-radius: 25px;
  font-size: 25px;
  text-align: center;
  color: darkblue;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}


/* Две кнопки внизу. Размер шрифта. Выравнивание. Прозрачный бекграунд фон наследуем. Граница толщина2,спложная голубая.Закругленная. Растояние сверху блока. Курсор-рука! */
input{
  margin: 30px 10px;
  font-size: 20px;
  text-align: center;
  background-color: inherit;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background: rgb(194, 194, 194);
  cursor: pointer;
}