/* К каждомуэлементу.Внешний и внутренний отступы нулевые. При border-box значения width/height задают высоту/ширину всего элемента. Цвет шрифта. Шрифт,замена, семейство. */
*{
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Georgia, Serif;
}

/* Все элементы сеткой в строку. Отступ всего тела сверху.  */
body{
  max-width: 2560px;
  background-color: rgb(246, 246, 254); 
}

/* Все кроме хедера и футера */
.container_b{
  margin-top: 120px;
  margin-left: 100px;
  min-height: 570px;
}

/* Таблица. И каждый столбик. */
table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 3px dashed rgb(11, 6, 107);
}

/* Столбцы */
thead th:nth-child(1) {
  width: 20%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(5) {
  width: 10%;
}

th,
td {
  padding: 20px;
  text-align: center;
}


/* Картинки. Обтекание к слева. Сверху отступ 10. Высота картинки. Тень: право низ размытие цвет.. */ 
.img_bsc {
  display: block;
  margin: auto; 
  height: 90px;
}

/* Корзина-кнопка подвердить. Отступ внешний.Внутренный к контенту. Шрифт размер, пошентру, цвет. Заливка. Рамка толщина,спложная, цвет. Закругленная. Курсор-рука! */
.btn_in {
  margin: 50px 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: #185c18;
  background: rgba(206, 206, 206, 0.989);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}

/* Корзина-кнопка удалить. Корзина-кнопка подвердить. Отступ внешний.Внутренный к контенту. Шрифт размер, пошентру, цвет. Прозрачный бекграунд фон наследуем. Рамка толщина,спложная, цвет. Закругленная. Курсор-рука! */
.input {
  margin: 30px 5px;
  padding: 3px;
  font-size: 20px;
  text-align: center;
  color: #07008b;
  background-color: inherit;
  border: 2px solid rgb(0, 7, 100);
  border-radius: 10px;
  cursor: pointer;
}
