/*   HTML один product. Кнопки из style_category */

body {
margin-top: 70px;
}

.vitrina{
    max-width: 100%;
    margin: 20px auto;
    height: 500px;
}


.wrapper{
    display: flex;
    justify-content: center;
    padding: 50px;
}


.name {
    font-size: 25px;
    padding-block: 20px;
}


.info_d {
    font-size: 30px;
    padding-block: 20px;
}

.filter_img{
    width: 300px;
}


.foto_pr{
    float: left; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
    text-align: center;
}

/*  Cсылrи цвет. Без подчеркивания */
a {
    color: rgb(35, 35, 35);
    text-decoration: none;
  }
  
  /* ссылки при наведении синеют */
  a:hover {
    color: #015167;
  }
  
  /* ссылки при нажатии берюзовые */
  a:active {
    color: #0e848c;
  }

