{% load static %}                                                       <!-- +CSS -->

<footer>
  <div class="footer_container">
      <div class="logo">
        <h1 class="storename">SnowWave</h1>
        <img style="width:60px; height:60px;" src="{% static 'media\logo01.png' %}"/>
      </div>

      <div class="flex-item item-1">
        <ul>
          <h2 class="headline">Контакты:</h2>
            <li> <a>+375292505050</a> </li>
            <li> <a>+375442505050</a> </li>
        </ul>
      </div>

      <div class="flex-item item-2">
        <ul>
          <h2 class="headline">Время работы:</h2>
            <li>ПН-ПТ 9-21</li>
            <li>СБ-ВС выходной</li>
        </ul>
      </div>

      <div class="flex-item item-3">
        <ul>
          <h2 class="headline">Адрес:</h2>
            <li><a href="#">г. Минск, пр-т Партизанский, 54</a></li>
        </ul>
      </div>

      <div class="flex-item item-4">
        <ul>
          <h2 class="headline">Мы в соцсетях:</h2>
            <li>
              <a href="#">
              <img class="media-links"  alt="здесь фото" src="{% static 'media\foto01.png' %}"/>
              Instagramm</a>
            </li>

            <li>
              <a href="#">
              <img class="media-links" src="{% static 'media\foto02.png' %}"/>
              Facebook </a>
            </li>

            <li>
              <a href="#">
              <img class="media-links" src="{% static 'media\foto03.png' %}"/>
              VK</a>
            </li>
          <li>
            <a href="#">
            <img class="media-links" src="{% static 'media\foto04.png' %}"/>
            Telegramm</a>
          </li>

          <li>
            <a href="#">
            <img class="media-links" src="{% static 'media\foto05.png' %}"/>
            Viber</a>
          </li>

          <li>
            <a href="#">
            <img class="media-links" src="{% static 'media\foto06.png' %}"/>
            WhatsApp</a>
          </li>
        </div>
      </ul>
    </div>

      <div class="element_one">
        <p> <a class="btn_one" href="store2024@gmail.com">&#128386; E-mail store2024@gmail.com </a></p>
      </div>

</footer>
