{% load static %}                                                       <!-- +CSS -->

<footer>
  <div class="footer_container">

      <div class="logoSW">
        <h1 class="storename">SnowWave</h1>
        <img style="width:80px;" src="{% static 'media\logo01.png' %}"/>
      </div>

      <div class="flex-item item-1">
        <ul>
          <h2 class="headline">Контакты:</h2>
            <li> <a>+375292505050</a> </li>
            <li> <a>+375442505050</a> </li>
        </ul>
      </div>

      <div class="flex-item item-2">
        <ul>
          <h2 class="headline">Время работы:</h2>
            <li>ПН-ПТ 9-21</li>
            <li>СБ-ВС выходной</li>
        </ul>
      </div>

      <div class="flex-item item-3">
        <ul>
          <h2 class="headline">Адрес:</h2>
            <li><a href="#">г. Минск, пр-т Партизанский, 54</a></li>
        </ul>
      </div>

    <div class="item-4">
      <h2 class="headline">Мы в соцсетях:</h2>
      <div class="social_media">
          
            <div>
              <a href="https://www.instagram.com/ridershop.by/">
              <img class="media-links"  alt="здесь фото" src="{% static 'media\foto01.png' %}"/> </a>
            </div>

            <div>
              <a href="https://www.facebook.com/ridershop.by">
              <img class="media-links" src="{% static 'media\foto02.png' %}"/> </a>
            </div>

            <div>
              <a href="https://vk.com/ridershopby">
              <img class="media-links" src="{% static 'media\foto03.png' %}"/> </a>
            </div>

            <div>
              <a href="https://t.me/ted.1">
              <img class="media-links" src="{% static 'media\foto04.png' %}"/> </a>
            </div>

            <div>
              <a href="https://www.viber.com/ru/">
              <img class="media-links" src="{% static 'media\foto05.png' %}"/> </a>
            </div>

            <div>
              <a href="https://www.whatsapp.com/">
              <img class="media-links" src="{% static 'media\foto06.png' %}"/> </a>
            </div>

      </div>
    </div>
  </div>

      <div class="element_one">
        <p> <a class="btn_one" href="store2024@gmail.com">&#128386; E-mail store2024@gmail.com </a></p>
      </div>

</footer>
