
{% load static %}                                                               <!-- +CSS -->

<div class="header_container">
    <div class="header_wrapper">
        <nav class="navigation">
            <ul class="item_nav">
                <li class="item"><a class="link__header" href="{% url 'main' %}">SnowWave</a></li>
                <li class="item"><a class="logo__header" href=""><img src="{% static 'media\logo01.png' %}"  alt="logo" height="60px"></a></li>
                <li class="item"><a class="link__header" href="">О нас</a></li>
            </ul>
            
            <ul class="item_nav">
                <li><input class="form-control" type="text" placeholder="Поиск"></li>
                <li class="item"><a href="">Корзина</a></li>
                <li class="item"><a href="{%url 'registr' %}">Вход</a></li>
            </ul>
        </nav>
    </div>
</div>
