{% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}               <!-- +CSS -->

{% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->
<body>
    <div class="container_b">
        <p><img  src={% static "media\9.png" %} height="60"> </p>
        
        <h2>Компания ставит перед собой цель повышения популярности спортивных товаров в нашей республике и продвижения на рынке лыжного инвентаря и спортивных товаров наивысшего качества. 
        Не знаете, где купить оборудование, экипировку и аксессуары для зимних видов спорта? У нас вы найдёте широкий выбор товаров от разных мировых производителей. 
        Мы готовы порадовать вас приятными ценами. Ознакомьтесь с каталогом и задайте интересующие вас вопросы. Наши специалисты дадут необходимую консультацию и помогут определиться с выбором.
        Нашими оновными направлениями деятельности являются:
        Предложение клиентам оптимального ассортимента спортивных и сопутствующих им товаров;
        Продвижение на белорусский рынок исключительно высококлассных мировых марок, предоставляющих высокотехнологическую продукцию;
        Работа со всеми группами клиентов: спортивные магазины, спортивные клубы, спортивные школы, ведущие белорусские спортсмены, предприятия республики.
        Будем рады видеть вас в нашем магазине!</h2>

        <div>  
            <button class="btn"><a href="{%url 'main' %}">В  каталог </a></button> 
        </div>

    </div>
</body>
{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->
