{% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}               <!-- +CSS -->

{% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->
<body>
    <div class="container_b">
        <h2><img  src={% static "media\9.png" %} height="50"> </h2>
        
        <p>Компания ставит перед собой цель повышения популярности спортивных товаров в нашей республике и продвижения на рынке лыжного инвентаря и спортивных товаров наивысшего качества. 
        <p>Нашими оновными направлениями деятельности являются:</p>
        <ul>
          <li>Предложение клиентам оптимального ассортимента спортивных и сопутствующих им товаров;</li>
          <li>Продвижение на белорусский рынок исключительно высококлассных мировых марок, предоставляющих высокотехнологическую продукцию;</li>
          <li>Работа со всеми группами клиентов: спортивные магазины, спортивные клубы, спортивные школы, ведущие белорусские спортсмены, предприятия республики.</li>
        </ul>
        
        <p>Будем рады поработать с вами!</p>

        <div>  
            <button class="btn"><a href="{%url 'main' %}">В  каталог </a></button> 
        </div>

    </div>
</body>
{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->
