{% extends "base.html" %}       <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% block content %}             
    <div class="wraper">
      {% for item in acs %}
      <a href="{% url "prod" item.id %}">
          <div class="products">
            <img class="img" src="{{ item.image.url }}" alt="{{ item.name }}">
            <p class="info" >{{ item.name }}</p>
            <p class="info" >{{ item.price}} руб.</p>

            <form method="POST"> {% csrf_token %}
              <input type="hidden" value="{{item.name}}" name="get_id_produkt">
              <button class="info btn_buy" type="submit">Добавить в корзину</button>  <br>
            </form>
          </div>
      </a>
      {% endfor %}
    </div>

{% endblock content %}   
