{% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}                <!-- +CSS -->

{% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->
<body>
    <div>
            
        <div class="container_b">
            <h2>Корзина</h2>
            <h3>Ваши заказы:</h3>
            <p>{% for item in products %}</p>
            <img class="img_bsc" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <p> {{ item.product.сategories}}</p>                <!-- item- экз кл-са ProductInBasket в ней product-экз класса. у него связь с классом Product в этом классе name берем -->            
            <p> {{ item.product.name  }} руб.</p>
            <p> {{ item.quantity }}шт.</p>              <!-- А значение quantity просто из ProductInBasket -->
            <p> {{ item.total_price }} руб.</p> <br>
            {% endfor %}

            <form method ="POST"> {% csrf_token %} 
                {% comment %} <p><label for="comment">Ваш комментарий:</label></p><br/>
                <p><textarea name="comment" id="comment" placeholder="Не более 300 символов" maxlength="300"></textarea></p> {% endcomment %}
                <tr> <td><input class="button_cl" type="submit" value="Подтведрить заказ"></td> <td><input type="reset" value="Удалить всё"></td></tr>
            </form>
        </div>

        <div>  
            <button class="btn"><a href="{%url 'main' %}">В  каталог </a></button> 
        </div>

    </div>
</body>
{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->

