 <!-- Выводим всё по категории -->
{% extends "base.html" %}       <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}                           <!-- +CSS -->

{% block content %} 

<div class="wraper">

  {% if messages %}        <!-- Сообщение Товар добавлен в корзину. в кнопке -->
  {% for message in messages %}
    <div class="massage">
      {{ message }}
    </div>
  {% endfor %}
  {% endif %}

  {% for item in category_key %}     <!-- Перебираем по ключу из views,котовый выводит все отфильтрованные по категории товары из базы данных -->

      <a href="{% url "product_page" item.id %}">     <!-- Имя html.У каждого элементы в бд уникальный id(дается по умолчанию про создании) -->                                             
        <div class="products">
            <img class="img" src="{{ item.image.url }}" alt="{{ item.name }}">
            <p class="info" >{{ item.сategories }}</p>
            <p class="info" >{{ item.name }}</p>
            <p class="info" >Цена: {{ item.price}} руб.</p>

            {% if item.is_active %}   <!--  * item.quantity > 0 - по количеству на складе.  item.is_active - по графе в наличии. -->
              <p class="info" >В наличии: &#10004;</p>   <!-- В наличии- галочка V -->
            {% else %}
              <p class="info">Нет в наличии</p>
            {% endif %}
      </a> 

      <div>
          <form method="POST"> {% csrf_token %}  
            <input type="hidden" value="{{item.name}}" name="get_id_product"> 
              {% if item.quantity > 0 %}      <!--  * item.quantity > 0 - по количеству на складе.  item.is_active - по графе в наличии. -->
                <button class="info btn_buy" type="submit">Добавить в корзину</button>         
                <input class="info quantity" type="number" name="quantity" min="1" max="{{ item.quantity }}" value="1"> <br> <!-- Чтоб счетчик добавления в корзину не привышал max количество на складе -->
              {% else %}
                <button class="info btn_buy" type="submit" disabled>Добавить в корзину</button>
                <input class="info quantity" type="number" name="quantity" disabled value=0> <br>
              {% endif %} 
            </form>
        </div>
      </div>
      
    
    {% endfor %}

    <div>
      <button class="btn"><a href="{%url 'main' %}">НА ГЛАВНУЮ</a></button>
    </div> 
  </div>

{% endblock content %}   
