 <!-- Выводим всё по категории -->
{% extends "base.html" %}       <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}                           <!-- +CSS -->

{% block content %} 

<div class="wraper">
  {% for item in category_key %}     <!-- Перебираем по ключу из views,котовый выводит все отфильтрованные по категории товары из базы данных -->

      <a href="{% url "product_page" item.id %}">     <!-- Имя html.У каждого элементы в бд уникальный id(дается по умолчанию про создании) -->                                             
        <div class="products">
            <img class="img" src="{{ item.image.url }}" alt="{{ item.name }}">
            <p class="info" >{{ item.сategories }}</p>
            <p class="info" >{{ item.name }}</p>
            <p class="info" >Цена: {{ item.price}} руб.</p>

            {% if item.is_active %}       <!-- Если в наличии-V -->
              <p class="info" >В наличии: &#10004;</p>
            {% else %}
              <p class="info">Нет в наличии</p>
            {% endif %}
      </a> 

      <div>
          <form method="POST"> {% csrf_token %} <!-- Кнопка добавить в рорзину.Количество. -->
            <input type="hidden" value="{{item.name}}" name="get_id_produkt">
            <button class="info btn_buy" type="submit">Добавить в корзину</button>  
            <input type="number" class="info" name="quantity" min="1" max="100" placeholder="1" value=1 > <br> 
          </form>
        </div>
      </div>
    
    {% endfor %}

    <div>
      {% if messages %} <!-- Сообщение Товар добавлен в корзину. в кнопке -->
      {% for message in messages %}
        <div>
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
      <button class="btn"><a href="{%url 'main' %}">В каталог</a></button>
    </div> 

  </div>

{% endblock content %}   
