{% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}               <!-- +CSS -->

{% block content %}  

<div class="container_b">
    <h2>Подтверждение заказа</h2>
    <h2><img class="star" src={% static "media\99.png" %} height="50"> </h2>
     
    <div>
        <form method ="POST"> {% csrf_token %} 
            <div>
                <h3><b>Введите имя:</b>{{form_key.name}}</h3>
                <h3><b>Введите телефон:</b>{{form_key.phone}}</h3>
                <h3><b>Введите почту:</b>{{form_key.email}}</h3>
                <h3><b>Введите адрес:</b>{{form_key.adres}}</h3>
            </div>
            <div >
                <button class="btn" type="reset"  data-dismiss="modal">Сброс</button>
                <button class="btn" type="submit" data-toggle="modal" data-target="#modal_window">Подтвердить</button>
            </div>
        </form>

    </div>
</div>   

{% endblock content %}                  
