{% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

{% load static %}               <!-- +CSS -->

{% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->

    <h3>Подтверждение заказа</h3>
     
    <div class="container_o">
        <form method ="POST"> {% csrf_token %} 
            <div>
                <p><b>Введите имя:</b>{{form_key.name}}</p>
                <p><b>Введите контактный номер:</b>{{form_key.phone}}</p>
                <p><b>Введите почту:</b>{{form_key.email}} </p>
                <p><b>Введите адрес:</b>{{form_key.adres}}</p>
            </div>
            <div >
                <button class="btn" type="reset"  data-dismiss="modal">Сброс</button>
                <button class="btn" type="submit" data-toggle="modal" data-target="#modal_window">Подтвердить</button>
            </div>
        </form>
        <div>
            <button class="btn"><a href="{%url 'main' %}">На главную</a></button> 
        </div>
    </div>

{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->
