 <!-- Один продукт -->
 {% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

 {% load static %}              <!-- +CSS -->

 {% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->

    <div class="vitrina container_body">
        <div class="wrapper">

            <div class="name">
                <p>Категория: {{product.сategories}}</p>
                <p> {{product.name}}</p>                        <!-- Вьюха функция Один подукт. Имя, цена из модели -->
                <p>Цена: {{product.price}} руб.</p>
            </div>

            <div class="foto_pr">
                <img class="filter_img" src="{{product.image.url}}" alt="">
            </div>

            <div class="info_d">
                {{product.description}}
            </div>
         

            <div>
                <form method="POST"> {% csrf_token %}  
                    <input type="hidden" value="{{product.name}}" name="get_id_product">
                      {% if product.quantity > 0  %}
                        <button class="info btn_buy" type="submit">Добавить в корзину</button>
                        <input class="info quantity" type="number" name="quantity" min="1" max="{{ product.quantity }}" value="1">  <br>           <!-- Чтоб счетчик добавления в корзину не привышал max количество на складе -->
                      {% else %}
                        <button class="info btn_buy" type="submit" disabled>Добавить в корзину</button>
                        <input class="info quantity" type="number" name="quantity" disabled value=0> <br>
                      {% endif %} 
                </form>
            </div>

        </div>

            <div>
                <button class="btn"><a href="{%url 'main' %}">В каталог</a></button>
            </div>

    </div>

{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->





