 <!-- Один продукт -->
 {% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

 {% load static %}              <!-- +CSS -->

 {% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->

    <div class="vitrina">
        <div class="wrapper">

            <div class="name">
                <p>Категория: {{product.сategories}}</p>
                <p> {{product.name}}</p>                        <!-- Вьюха функция Один подукт. Имя, цена из модели -->
                <p>Цена: {{product.price}} руб.</p>
            </div>

            <div class="foto_pr">
                <img class="filter_img" src="{{product.image.url}}" alt="">
            </div>

            <div class="info_d">
                {{product.description}}
            </div>
        </div>

        <div>
          <form method="POST"> {% csrf_token %}                                       <!-- Кнопка добавления в корзину. С выбором количества -->
            <input type="hidden" value="{{item.name}}" name="get_id_product">
            <button class="info btn_buy" type="submit">Добавить в корзину</button>  
            <input type="number" name="quantity" min="1" max="100" placeholder="1" value=1 > <br> 
          </form>
        </div>

        <div>
            <button class="btn"><a href="{%url 'main' %}">В каталог </a></button>
        </div>

    </div>

{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->





