 <!-- Один продукт -->
 {% extends "base.html" %}                  <!-- Расширение шаблона(extends). Указываем название базавого, куда отправляем контент -->

 {% load static %}              <!-- +CSS -->

 {% block content %}                        <!-- Расширение шаблона(extends) Начало переносимого контента -->

    <div class="vitrina">
        <div class="wrapper">

            <div class="izdelie">
                <img class="filter_img" src="{{tv.image.url}}" alt="">
            </div>

            <div class="name_one">
                <p>Категоря: {{tv.сategories}}</p>
                <p>Нименование: {{tv.name}}</p>                    <!-- Вьюха функция ОДИН ПРОДУКТ. из моделей имя, инфо, цена... -->
                <p>Цена: {{tv.price}} руб.</p>
                <p>В наличии: {{tv.is_active}} руб.</p>
            </div>

            <div class="name_two">
                {{tv.description}}
            </div>
        </div>

        <div>
            <button class="btn"><a href="{%url 'main' %}">В каталог </a></button>
        </div>

    </div>

{% endblock content %}                    <!-- Расширение шаблона(extends) Конец переносимого контента -->





